@import "./styles/config/fonts";
@import "./styles/config/variables";
@import "./styles/config/global";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        min-height: 100%;
        position: relative;
        overflow-x: hidden;
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: var(--base-font-size);
        line-height: var(--base-line-height);
        font-family: var(--base-font-family);
        font-weight: 400;
    }
}

@layer components {
    .page {
        @apply min-h-screen flex flex-col
    }

    .p-container {
        @apply max-w-6xl w-full m-auto px-3
    }

    .p-btn-blue {
        @apply px-5 py-2.5 font-medium bg-blue-50 hover:bg-blue-100 hover:text-blue-600 text-blue-500 rounded-lg text-sm transition md:text-base
    }
    .p-btn-clean {
        @apply inline-flex items-center justify-center px-8 py-2 text-base font-medium leading-6 text-white bg-blue-600 border border-blue-700 rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition-all
    }
    .p-link {
        @apply hover:text-blue-600 transition cursor-pointer
    }
}